body {
	background-image: url("images/cupcake.JPG");
}

h1, h2, h3, h4, h5 {
	text-align: center;
	color: pink;
	text-shadow: 2px 2px black;
}

a {
	color: white;
}

div#standout {
	color: white;
	font-size: 3em;
	text-align: center;
	text-shadow: 4px 2px black;
}